<%- include('header')%>
<%- include('nav')%>


<div class="container mt-5" >
    <form action="/create" method="post" class="form-control w-50" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="author" placeholder="author">
        <input type="file" name="image" placeholder="select_image">
        <button>create</button>
    </form>
</div>




<%- include('footer')%>